<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="JSAG">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href={{ "css/normalize.css" | absolute_url }}>
<link rel="stylesheet" href={{ "css/skeleton.css" | absolute_url }}>
<link rel="icon" type="image/png" href={{ "images/favicon.png" | absolute_url }}>
