<meta charset="utf-8">
<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">
<meta name="author" content="JSAG">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{{ site.github.url }}/css/normalize.css">
<link rel="stylesheet" href="{{ site.github.url }}/css/skeleton.css">
<link rel="icon" type="image/png" href="{{ site.github.url }}/images/favicon.png">
